header.header.header__row
    .header__social
        include ./social-icons.pug

    .header__logo
        h1.logo Hipsum Block

    .header__search
        .header__icon-search
            img(src="./img/icons/search.svg", width="26" alt="search")

        .header__btn-search
            button.btn Subscribe