.pagination
    .pagination__recent
        a(href="#").pagination__text recent posts

    .pagination__current
        a(href="#").pagination__link.current 1

        a(href="#").pagination__link 2

        a(href="#").pagination__link 3

    .pagination__older
        a(href="#").pagination__text older posts