.social-icons 
    a(href="#!").social-icons__item
        img(src="./img/icons/social/instagram.svg", width="22" alt="") 

    a(href="#!").social-icons__item
        img(src="./img/icons/social/twitter.svg", width="25" alt="") 
         
    a(href="#!").social-icons__item
        img(src="./img/icons/social/facebook-f.svg", width="14" alt="")  