mixin widget-instagram-item(img, link="#", title="Instagram-photo")
    li.widget-instagram__item
        a(href= link).widget-instagram__link
            img(src="./img/instagram/" + img, alt= title).widget-instagram__img